body {
	height: 100%;
	width: 100%;
	background: #484848;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	color: #ffffff;	
}

#searchText, #searchButton {
	width: 250px;
	outline: none;
	padding: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #C1DFED;
	font-size: 15px;
	border: 1px solid #ffffff;
}

#searchButton {
	height: 36px;
	width: auto;
	border: 1px solid #ffffff;
	background: #339933;
	color: #ffffff;
	cursor: pointer;
}

#tweets li {
	width: 450px;
	margin: 0px auto 10px;
	display: block;
	list-style: none inside none;
	text-align: left;
	text-shadow: none;
	color: #484848;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
	background: #C1DFED;
}

#tweets li img {
	float: left;
}

#tweets li div {
	font-size: 11pt;
	padding-top: 0px;
}

#tweets li a {
	color: #666;
	text-decoration: none;
	padding-left: 5px;
}

#tweets li p {
	font-size: 10pt;
	margin-left: 50px;
	margin-top: -16px;
}

body a {
    color: #ffffff;
}

#pagingControls a {
    margin: 0px 20px 0px 20px;
}

#menu {
    text-align: left;
}